<style>
  body {
    margin: auto;
    padding: 1em;
    max-width: 700px;
    background: #faf5e1 url("https://user-images.githubusercontent.com/70761288/104555582-13e8fd80-5679-11eb-8ce6-9ab426cf8e62.png") no-repeat fixed center; 
    colour: #222;    
    font-size: 30px;
       }
  
   a,a:visited {
      color: #48b1e5;
    }
  
  @media (prefers-color-scheme: dark) {
      body {
        background: #222;
        color: white;
      }
      a,a:visited {
        color: #adc1d9;
      }
    }
</style>
<head>
  <meta name="viewport" content="width=device-width">  
<h1>培正飯堂</h1>
  
<body>
  <header>
    <link rel="icon" type="image/png" href="https://i.pinimg.com/originals/e8/d7/a8/e8d7a8e2533426f1b9f64e8d636c482f"/>
   <main>
   {{content}}
   </main>
   
  </header>
  <footer>
    <br><a href='/contact/'> <b>聯絡我</b> </a>
    <br><a href='https://pcms-canteen.netlify.app/'>Back</a>
   </footer>
   
</body>
  </html>
