<style>
  body {
    margin: auto;
    padding: 1em;
    max-width: 700px;
    background: white;
    colour: #222;    
       }
  
   a,a:visited {
      color: #48b1e5;
    }
  
  @media (prefers-color-scheme: dark) {
      body {
        background: #222;
        color: white;
      }
      a,a:visited {
        color: #adc1d9;
      }
    }
</style>
<head>
  <meta name="viewport" content="width=device-width">  
<h1>培正飯堂</h1>
  
<body>
  <header>
    <link rel="icon" type="image/png" href="https://images.squarespace-cdn.com/content/v1/5bf8991c266c07c1f75938a1/1547047130823-SFRY179RO3EZ51WEQY66/ke17ZwdGBToddI8pDm48kPs1T15Nci4y4voHrrdO-S1Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpz5CJRJ7pqlKWE9M4d6f2L6iD1ACh1q-jF2B08g_0JvW3PaJt_zvY5SNpx8uMDft3E/canteen-icon.jpg"/>
  
   <main>
   {{content}}
   </main>
   
  </header>
  <footer>
    <br><a href='/contact/'> <b>聯絡我</b> </a>
    <br><a href='https://pcms-canteen.netlify.app/'>Back</a>
   </footer>
   
</body>
  </html>
